<!DOCTYPE html>
<html>
  <head>
    <title>users/index</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  
  </head>
  <body>
  <div>
      <table class="table table-condensed">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>qcc</td>
                <td>
                    <button type="button" class="btn btn-link">edit</button>
                    <button type="button" class="btn btn-link">delete</button>
                </td>
            </tr>
        </tbody>
      </table>
  </div>
  </body>
</html>
