<!DOCTYPE html>
<html>
  <head>
    <title>users/index</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  
  </head>
  <body>
  <div>
      <table class="table table-condensed">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <% user.forEach(function(item){ %>
            <tr>
                <td><%=item.email%></td>
                <td>
                    <a class="btn btn-link" href="/users/edit?id=<%=item._id%>">edit</a>
                    <button type="button" class="btn btn-link" onclick="del('<%=item._id%>')">delete</button>
                </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
  </div>
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>
    function del(id) {
        var cf = confirm('确定删除?');
        if (cf) {
            $.ajax({
                type: 'POST', 
                url: '/users/delete', 
                data: {id: id}, 
                dataType: 'json', 
                success: function(res) {
                    window.location.reload();
                }
            });
        } else {

        }
    }
    </script>
  </body>
</html>
